#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
/*   

  / Slider.css / */
.mySwiper {
  position: relative;
  z-index: 1; 
}

.mySwiper .slide-background {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1; }


  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */
  padding: 50px 70px;
    /* Center slide text vertically */

  }
  

  .swiper-slide img {
    /* display: block; */
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
  }
  
  .swiper-pagination{
      /* align-content: space-around; */
      flex-direction: column;
      display: flex;
      
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    /* top: var(--swiper-pagination-top, auto); */
    position: absolute;
    top: 112px;
    left: -26px;
    width: 20%;
}
  .swiper-pagination-bullet {    width: 65px;
    height: 62px;
    text-align: center;
    line-height: 20px;
    font-size: 29px;
    padding: 17px 28px;
    color: white;
    opacity: 1;
    border: 4px solid #008fa8;
    background: #232c42;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px;
}
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #008fa8;
    border: 4px solid #232c42;

  }


  .animate-bounce {
    animation: bounce 2.5s infinite;
}

.animate-two {
  animation: two 2.5s infinite;
}

.animate-three {
  animation: three 2.5s infinite;
}

.animate-four {
  animation: four 2.5s infinite;
}


  @keyframes bounce  {
    
    0% {
    transform: translateX(0) translateY(5px);
}
50% {
    transform: translateX(0) translateY(-5px);
    
    
}
100% {
    transform: translateX(0) translateY(5px);
}
  }


  @keyframes two{

    0% {
      transform: translateX(0px) translateY(6px);
  }
  
  50% {
      transform: translateX(0px) translateY(-5px);
  }
  100% {
      transform: translateX(0px) translateY(6px);
  }
  }

  @keyframes three{

 
    0% {
      transform: translateX(0px) translateY(6px);
  }
  
  50% {
      transform: translateX(0px) translateY(-5px);
  }
  100% {
      transform: translateX(0px) translateY(6px);
  }
  }

  @keyframes four{

    0% {
      transform: translateX(0px) translateY(6px);
  }
  
  50% {
      transform: translateX(0px) translateY(-5px);
  }
  100% {
      transform: translateX(0px) translateY(6px);
  }
  }